:root {
  /* 컬러색상 */
  --color-primary: #354153;
  /* 폰트 */
  --font-size-xl: 26px;

  /* 넓이 */
  --width-max: 1280px;

  /* 컬러 밝기 */
  --tw-text-opacity: 1;

  --border-radius-md: 14px;
}
