header {
  border-bottom: 1px solid red;
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > .right {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

nav > .hamburgur {
  display: none;
}

/* 
1. 배치도
2. 폰트 사이즈

*/

@media (max-width: 768px) {
  nav > .right {
    display: none;
  }
  nav > .hamburgur {
    display: block;
  }
}
