.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  gap: 10px;
}

.card1 {
  width: 500px;
  height: 500px;
  background-image: url("드링크1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
  background-color: rgb(170, 168, 168);
}

.card2 {
  width: 500px;
  height: 500px;
  background-image: url("드링크2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
  background-color: rgb(170, 168, 168);
}
.card3 {
  width: 500px;
  height: 500px;
  background-image: url("드링크3.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(170, 168, 168);

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
}
.card4 {
  width: 500px;
  height: 500px;
  background-image: url("드링크4.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 10px;
  background-color: rgb(170, 168, 168);
}

span {
  font-size: 20px;
  font-weight: 400;
}
